.git
.github
.idea
.vscode
.fleet

node_modules
vendor

public/build
public/hot

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

.env
.env.*
!.env.example

docker-compose.yml
docker-compose.yaml

tests
phpunit.xml

npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db
